body{
    background-color: #333333;
    /* background-color: linear-gradient(180deg, rgba(white, .15), rgba(white, )); */
   
}

.login{
    background-color: #e7cdb6;
    /* background-color: #e7cdb6; */
    /* background-color: #e6c7ab; */
    /* background-color: #e0c4ab; */
    /* background-color: #d5b99f; */
    /* background-color: #d7ab82; */
    /* background-color: #534436; */
    color: #eeeeee;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    width: 33vw;
    height: 33vh;
    position: absolute;
    left: calc(50% - 16.5vw);
    left: calc(50% - 16.5vh);
    padding: 1 rem;
    box-shadow: 1rem 1rem 3rem black;
}

.login input{
    width: 100%;
}

.login input[type=checkbox]{
    width: auto;
    width: 15px;
    height: 15px;
    padding:0 ;
    margin: 0;
    vertical-align: bottom;
    position: relative;
    top: -1px;
}

.login label input {
    display: inline-block;
}

label{
    margin: 1rem;
    display: inline-block;
}

label{
    padding: 1rem;
    position: absolute;
    bottom: 1rem;
    left: 1rem;
    right:1rem;
    font-size: 1.5rem;
    color: #996633;
}

.login .title{
    font-size: 1.5rem;
}