/* body{
    background-color: #e7cdb6;
} */
.homecolor{
    /* background-image: url('/images/homepage.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover; */
    background-color: #eedde7;
}
#logotostyle{
    border-radius: 50%;
}
.addcolor{
    background-color: #9A616D;
    
}
.centertext{
    text-align: center;
}