/* :root{
    /* background-color: #e7cdb6; */
   /* font-family: url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css");
} */ 
.homecolor{
    /* background-image: url('/images/homepage.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover; */
    background-color: #eedde7;
}
#logotostyle{
    border-radius: 50%;
}
.addcolor{
    background-color: #9A616D;
    
}
.centertext{
    text-align: center;
}