.sign-up{
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/5/53/Google_%22G%22_Logo.svg/512px-Google_%22G%22_Logo.svg.png");
    background-repeat: no-repeat;
    background-size: 20px;
    background-position: 7px;
}